<div class="row">
    <div class="col-lg-12">
        <h2 class="section-heading">Detalhes do campus "{{campusDto.Campus.Nome}}"</h2>
        <hr class="hard"/>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Nome
                </dt>
                <dd>
                    {{campusDto.Campus.Nome}} 
                </dd>
                <dt>
                    Sigla
                </dt>
                <dd>
                    {{campusDto.Campus.Sigla}}
                </dd>
            </dl>
            <div ng-if="campusDto.Campus.SetoresConhecimento.length > 0">
                <h3>Lista de setores de conhecimento</h3>
                <table class="table">
                    <tr>
                        <th>
                            Setor
                        </th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="sc in campusDto.Campus.SetoresConhecimento">
                        <td>
                            <a href="/spa/setoresconhecimento/{{sc.Sigla}}/{{campusDto.UnidadeUniversitaria.Sigla}}">{{sc.SiglaNome}}</a>
                        </td>
                        <td>
                            <div class="pull-right">
                                <a href="/spa/setoresconhecimento/{{sc.Sigla}}/{{campusDto.UnidadeUniversitaria.Sigla}}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="campusDto.Campus.SetoresAdministrativos.length > 0">
                <h3>Lista de setores administrativos</h3>
                <table class="table">
                    <tr>
                        <th>
                            Setor
                        </th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="sc in campusDto.Campus.SetoresAdministrativos">
                        <td>
                            <a href="/spa/setoresadministrativos/{{sc.Sigla}}/{{campusDto.Campus.Sigla}}">{{sc.SiglaNome}}</a>
                        </td>
                        <td>
                            <div class="pull-right">
                                <a href="/spa/setoresadministrativos/{{sc.Sigla}}/{{campusDto.Campus.Sigla}}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                            </div>
                        </td>
                    </tr>                        
                </table>
            </div>            
        </div>
        <hr class="hard"/>
        <div>
            <a href="javascript:history.go(-1)">Voltar</a>
        </div>      
    </div>
</div>