<style>
    header {
        background-image: url('/images/nead-home.jpg') !important;
    }
</style>
<header id="main">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{model?.Nome}}</h1>
            <h3>{{instituicao?.Nome}}</h3>
            <a href="/setoresadministrativos/NEAD/SC/home#about" class="btn btn-primary btn-xl page-scroll">Saiba mais</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sobre o NEAD!</h2>
                <hr class="light">
                <p class="text-faded">{{model?.Sobre}}</p>
                <a href="/setoresadministrativos/NEAD/SC/home#values" class="btn btn-default btn-xl page-scroll">Como trabalhamos</a>
            </div>
        </div>
    </div>
</section>

<section id="values">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nossos valores</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-certificate wow bounceIn text-primary"></i>
                    <h3>Excelência</h3>
                    <p class="text-muted">Cursos certificados, reconhecidos e de qualidade!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Profissionalismo</h3>
                    <p class="text-muted">Competência, comprometimento e responsabilidade no ensino!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Atualização</h3>
                    <p class="text-muted">Ensino de vanguarda e pesquisa estado da arte!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Amor pelo que fazemos</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row top30">
                <div class="col-lg-12 text-center">
                    <a href="/setoresadministrativos/NEAD/SC/home#areas" class="btn btn-primary btn-xl page-scroll">Comece agora!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Áreas de atuação</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="area-box">
                    <img src="/images/areas/1.jpg" class="img-responsive" alt="">
                    <div class="area-box-caption">
                        <div class="area-box-caption-content">
                            <div class="project-category text-faded">
                                Ensino
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="area-box">
                    <img src="/images/areas/2.jpg" class="img-responsive" alt="">
                    <div class="area-box-caption">
                        <div class="area-box-caption-content">
                            <div class="project-category text-faded">
                                Pesquisa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="area-box">
                    <img src="/images/areas/3.jpg" class="img-responsive" alt="">
                    <div class="area-box-caption">
                        <div class="area-box-caption-content">
                            <div class="project-category text-faded">
                                Extensão
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <a [routerLink]="['/CursoList',{filter:'CursosNead'}]" class="btn btn-default btn-xl wow tada">Encontre seu curso!</a>
        </div>
    </div>
</aside>

<section id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">Conheça um pouco mais sobre o NEAD!</h2>
                <hr class="primary">
                <tabs>
                    <tab title='História' active="true">
                        <p class="text-justify">{{model?.Sobre}}</p>
                    </tab>
                    <tab title='Setores'>
                        <model-list selectionProperty="Sigla" descriptionProperty="Nome" detailNavigationUrl="`/setoresadministrativos/${model.Sigla}/${model.SiglaCampus}`" [list]="model?.Subsetores" showFilters=false></model-list>
                    </tab>
                    <tab title='Documentos'>
                        <ul>
                            <li><a href="/docs/termos_fichas/ficha_cadastro_coord_curso.doc">Ficha de cadastro de coordenador de curso</a></li>
                            <li><a href="/docs/termos_fichas/ficha_cadastro_coord_tutoria.doc">Ficha de cadastro de coordenador de tutoria</a></li>
                            <li><a href="/docs/termos_fichas/ficha_cadastro_professor.doc">Ficha de cadastro de professor</a></li>
                            <li><a href="/docs/termos_fichas/ficha_cadastro_tutor.doc">Ficha de cadastro de tutor</a></li>
                            <li><a href="/docs/termos_fichas/termo_compromisso_professor.doc">Termo de compromisso de professor</a></li>
                            <li><a href="/docs/termos_fichas/termo_compromisso_tutor.doc">Termo de compromisso de tutor</a> </li>
                            <li><a href="/docs/termos_fichas/termo_direitos_autorais.doc">Termo de cessão de direitos autorais</a></li>
                        </ul>
                    </tab>
                    <tab title='Atos oficiais'>
                    </tab>
                    <tab title='Links'>
                        <h4>Sites institucionais</h4>
                        <ul>
                            <li><a href="http://www.unicentro.br/">Unicentro</a></li>
                            <li><a href="http://nead.unicentro.br/">NEAD</a></li>
                            <li><a href="http://sites.unicentro.br/nead/npa">Coordenação de Vídeos</a></li>
                        </ul>
                        <h4>Sistemas de apoio gerenciais</h4>
                        <ul>
                            <li><a href="http://sguweb.unicentro.br/usuarios/login">Sistema de Gestão Universitária - SGU</a></li>
                            <li><a href="http://redmine.unicentro.br/">Gerenciador de projetos - Redmine</a></li>
                        </ul>
                        <h4>Sistemas de apoio discente</h4>
                        <ul>
                            <li><a href="http://moodle.unicentro.br/">Acesso AVA Moodle</a></li>
                            <li><a href="http://www.unicentro.br/aonline/">Acesso Aluno Online</a></li>
                            <li><a href="http://sguweb.unicentro.br/saguiches/login">Secretaria acadêmica e atividades complementares</a></li>
                            <li><a href="http://sguweb.unicentro.br/atavaliados/login">TCC</a></li>
                            <li><a href="http://wiki.unicentro.br/Informa%C3%A7%C3%B5es_Aluno_Online">Informações Aluno Online</a></li>
                        </ul>
                        <h4>Sistemas de apoio docente</h4>
                        <ul>
                            <li><a href="http://wiki.unicentro.br/Lyceum">Lyceum</a></li>
                            <li><a href="http://www.unicentro.br/donline/">Acesso Docente Online</a></li>
                        </ul>
                        <h4>Materiais de apoio</h4>
                        <ul>
                            <li><a href="http://sites.unicentro.br/nead/tutoriais-2/">Tutoriais</a></li>
                        </ul>
                    </tab>
                    <tab title='Convênios'>
                        <ul>
                            <li><a href="https://www.convenios.gov.br/siconv/ConsultarProposta/ResultadoDaConsultaDeConvenioSelecionarConvenio.do?sequencialConvenio=806498&Usr=guest&Pwd=guest">Implantação de Cursos no âmbito da UAB</a></li>
                            <li><a href="http://www2.unicentro.br/coorcap/dirconv/">Convênios vigentes da instituição</a></li>
                            <li><a href="https://www.convenios.gov.br/siconv/Principal/Principal.do">SICONV - Consulta a convênios</a></li>
                        </ul>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <a class="btn btn-default btn-xl wow tada" href="http://nead.unicentro.br/">Site instituicional</a>
        </div>
    </div>
</aside>



<contato-fragment telefone={{model?.Telefone}}
                  facebook={{model?.UrlFacebook}}
                  email={{model?.Email}} 
                  mensagem="Gostaria de saber como estudar em uma das melhores universidade do país? Que ótimo! Nos telefone ou nos mande
                    um e-mail que teremos o prazer em responder o mais breve possível!"></contato-fragment>

<!--<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato!</h2>
                <hr class="primary">
                <p>Gostaria de saber como estudar em uma das melhores universidade do país? Que ótimo! Nos telefone ou nos mande
                    um e-mail que teremos o prazer em responder o mais breve possível!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p><span itemprop="telephone"><a href="tel:{{model?.Telefone}}">{{model?.Telefone}}</a></span></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:{{model?.Email}}">{{model?.Email}}</a></p>
            </div>
        </div>
    </div>
</section>-->
<instituicao-footer></instituicao-footer>