<section class="spa">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div *ngIf="!model">
                    {{notFoundMessage}}
                </div>
                <div *ngIf="model">
                    <h4 class="section-heading">{{headingMessage}} "{{model[modelMetadata.DescriptionProperty]}}"</h4>
                    <hr class="hard" />
                    <div>
                        <dl class="dl-horizontal">
                            <template ngFor #property="$implicit" [ngForOf]="properties | async">
                                <template [ngIf]="property.Scaffold">
                                    <dt>
                                        {{property.DisplayName}}
                                    </dt>
                                    <dd [ngSwitch]="property.ClientType">
                                        <template ngSwitchWhen="string">
                                            <template [ngIf]="property.IsUrl">
                                                <a href="{{model[property.PropertyName]}}">Acesse <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                                            </template>
                                            <template [ngIf]="!property.IsUrl">
                                                {{model[property.PropertyName]}}
                                            </template>
                                        </template>
                                        <template ngSwitchWhen="enum">{{model[property.PropertyName].Label}}</template>
                                        <template ngSwitchWhen="number">{{model[property.PropertyName]}}</template>
                                        <template ngSwitchWhen="boolean">
                                            <template [ngIf]="model[property.PropertyName]">
                                                <span class="glyphicon glyphicon-check" aria-label="model[property.PropertyName]"></span>
                                            </template>
                                            <template [ngIf]="!model[property.PropertyName]">
                                                <span class="glyphicon glyphicon-unchecked" aria-label="model[property.PropertyName]"></span>
                                            </template>
                                        </template>
                                        <template ngSwitchWhen="array">
                                            <div *ngIf="model[property.PropertyName] && model[property.PropertyName].length > 0">
                                                <model-list selectionProperty="{{property.SelectionProperty}}" 
                                                descriptionProperty="{{property.DescriptionProperty}}" detailNavigationUrl="{{property.DetailNavigationUrl}}"
                                                [list]="model[property.PropertyName]" showFilters=false></model-list>
                                            </div>
                                            <div *ngIf="!model[property.PropertyName]">
                                                -
                                            </div>
                                        </template>
                                        <template ngSwitchWhen="any">
                                            <template [ngIf]="model[property.PropertyName]">
                                                <style type="text/css">
                                                    li {
                                                        line-height: 3em;
                                                        vertical-align: middle;
                                                    }
                                                    @media (max-width: 360px) {
                                                        .model-list-description {
                                                            /*display: inline-block;
                                                            width: 50%;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;*/
                                                        }
                                                        
                                                        /* Make it a marquee */
                                                        .marquee {
                                                            vertical-align: middle;
                                                            display: inline-block;
                                                            width: 50%;
                                                            margin: 0 auto;
                                                            overflow: hidden;
                                                            white-space: nowrap;
                                                            text-overflow: ellipsis;
                                                            box-sizing: border-box;
                                                            animation: marquee 10s linear infinite;
                                                        }

                                                        .marquee:hover {
                                                            /*animation-play-state: paused*/
                                                        }

                                                        /* Make it move */
                                                        @keyframes marquee {
                                                            0%   { text-indent: 50% }
                                                            100% { text-indent: -150% }
                                                        }
                                                        
                                                    }
                                                </style>                                                
                                                <div class="model-navigation">
                                                    <span class="id-description" (click)="onSelect(model[property.PropertyName], property)">
                                                        <span class="id-badge">
                                                            {{model[property.PropertyName][property.SelectionProperty]}}
                                                        </span> <span class="model-list-description marquee">{{getModelNavigationDescription(model, property)}}</span> <i class="fa fa-arrow-right fa-2x"></i>
                                                    </span><span class="home" (click)="gotoHome(model[property.PropertyName])"> <i class="fa fa-home fa-2x"></i></span>
                                                </div>
                                            </template>
                                            <template [ngIf]="!model[property.PropertyName]">
                                                -
                                            </template>
                                            <!--<a href="" (click)="onSelect(model[property.PropertyName], property)">{{getModelNavigationDescription(model, property)}}</a>-->
                                        </template>
                                    </dd>
                                </template>
                            </template>
                        </dl>
                    </div>
                    <hr class="hard" />
                    <div>
                        <button class="btn btn-default" (click)="gotoList()"><i class="fa fa-list fa-2x"></i></button>
                        <button class="btn btn-home" (click)="gotoHome(model)"><i class="fa fa-home fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>