<div class="row">
    <div class="col-lg-12">
        <h2 class="section-heading">Detalhes da unidade universitária "{{unidadeUniversitaria.Nome}}"</h2>
        <hr class="hard"/>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Nome
                </dt>
                <dd>
                    {{unidadeUniversitaria.Nome}} 
                </dd>
                <dt>
                    Sigla
                </dt>
                <dd>
                    {{unidadeUniversitaria.Sigla}}
                </dd>
            </dl>
            <div ng-if="unidadeUniversitaria.Campi.length > 0">
                <h3>Lista de campi</h3>
                <table class="table">
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Sigla
                        </th>
                        <th>
                            Campus avançado
                        </th>
                        <th></th>
                    </tr>
                    <tr ng-class="{'campus-sede': campus.Sede}" ng-repeat="campus in unidadeUniversitaria.Campi">
                        <td>
                            <a href="/spa/campi/{{campus.Sigla}}">{{campus.Nome}} <span ng-if="campus.Sede"> - Sede</span></a>
                        </td>
                        <td>
                            {{campus.Sigla}}
                        </td>
                        <td>
                            <input type="checkbox" ng-model="campus.Avancado"  />
                        </td>
                        <td>
                            <div class="pull-right">
                                <a href="/spa/campi/{{campus.Sigla}}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr class="hard"/>
        <div>
            <a href="javascript:history.go(-1)">Voltar</a>
        </div>      
    </div>
</div>