<div class="row">
    <div class="col-lg-12">
        <h2 class="section-heading">Detalhes do departamento "{{departamento.Nome}}"</h2>
        <hr class="hard"/>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Nome
                </dt>
                <dd>
                    {{departamento.Nome}} 
                </dd>
                <dt>
                    Sigla
                </dt>
                <dd>
                    {{departamento.Sigla}}
                </dd>
            </dl>
            <div ng-if="departamento.Cursos.length > 0">
                <h3>Lista de cursos</h3>
                <table class="table">
                    <tr>
                        <th>
                            Curso
                        </th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="curso in departamento.Cursos">
                        <td>
                            <a href="/spa/cursos/{{curso.Codigo}}">{{curso.CodigoNome}}</a>
                        </td>
                        <td>
                            <div class="pull-right">
                                <a href="/spa/cursos/{{curso.Codigo}}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr class="hard"/>
        <div>
            <a href="javascript:history.go(-1)">Voltar</a>
        </div>      
    </div>
</div>