<div class="row">
    <div class="col-lg-12">
        <h2 class="section-heading">Lista de departamentos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sigla</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="departamento in departamentos">
                    <td>
                        <a href="/spa/departamentos/{{departamento.Sigla}}/{{departamento.Campus.UnidadeUniversitaria.Sigla}}">{{departamento.Nome}}</a>
                    </td>
                    <td>{{departamento.Sigla}}</td>
                    <td>
                        <div class="pull-right">
                            <a href="/spa/departamentos/{{departamento.Sigla}}/{{departamento.Campus.UnidadeUniversitaria.Sigla}}" class="btn btn-default">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="hard"/>
        <div>
            <a href="javascript:history.go(-1)">Voltar</a>
        </div>                
    </div>
</div>