<div class="row">
    <div class="col-lg-12">
        <h2 class="section-heading">Detalhes do curso "{{cursoDto.Curso.Nome}}"</h2>
        <hr class="hard"/>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Nome
                </dt>
                <dd>
                    {{cursoDto.Curso.Nome}} 
                </dd>
                <dt>
                    Código
                </dt>
                <dd>
                    {{cursoDto.Curso.Codigo}}
                </dd>
                <dt>
                    Tipo
                </dt>
                <dd>
                    {{cursoDto.Curso.Tipo.Label}}
                </dd>
                <dt>
                    Perfil do egresso
                </dt>
                <dd>
                    {{cursoDto.Curso.PerfilEgresso}}
                </dd>
            </dl>
            <div ng-if="cursoDto.Curso.Disciplinas.length > 0">
                <div ng-controller="AccordionDemoCtrl">
                <uib-accordion>
                    <uib-accordion-group heading="Lista de disciplinas" is-open="open">
                        <table class="table">
                            <tr>
                                <th>
                                    Disciplina
                                </th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="disciplina in cursoDto.Curso.Disciplinas">
                                <td>
                                    <a href="/spa/disciplinas/{{disciplina.Codigo}}">{{disciplina.CodigoNome}}</a>
                                </td>
                                <td>
                                    <div class="pull-right">
                                        <a href="/spa/disciplinas/{{disciplina.Codigo}}" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                                        <a href="{{disciplina.UrlAva}}" class="btn btn-success">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> AVA</a>                                    
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </uib-accordion-group>
                </uib-accordion>
                </div>                        
            </div>
        </div>
        <hr class="hard"/>
        <div>
            <a href="javascript:history.go(-1)">Voltar</a>
        </div>      
    </div>
</div>
