@model Singl.ViewModels.MetadataUIDetailsViewModel

@{
    ViewBag.Title = "Detalhes do metadado";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do metadado</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
    </dl>
</div>
<p>
    <a asp-controller="MetadataUI" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="MetadataUI" asp-action="Index">Voltar à lista</a>
</p>

