@model Neadm.ViewModels.DisciplinaCreateViewModel

@{
    ViewBag.Title = "Criar disciplina";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Criar disciplina</h2>
<div>
    <form asp-controller="Disciplina" asp-action="Create" method="post">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Codigo" class="form-control" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="CursoId" asp-items="Model.Cursos" class="form-control"></select>
                    <span asp-validation-for="CursoId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Criar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-controller="Disciplina"  asp-action="Index">Voltar à lista</a>
    </div>
</div>
@section Scripts {
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
}
