@model Singl.Models.Curriculo

@{
    ViewBag.Title = $"Editar currículo \"{@Model.Nome}\"";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@Model.Curso.Nome</h2>
                <hr class="hard">
                <h3 class="section-heading">@ViewBag.Title</h3>
                <hr class="hard">
                <div>
                    <form asp-controller="Curriculo" asp-action="Edit" method="post">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CursoId" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ano" class="control-label col-md-2" ></label>
                                <div class="col-md-10">
                                    <input asp-for="Ano" class="form-control" />
                                    <span asp-validation-for="Ano" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Regime" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <select asp-for="Regime" asp-items="Html.GetEnumSelectList<Regime>()" 
                                        class="form-control" ></select>
                                    <span asp-validation-for="Regime" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Series" class="control-label col-md-2" ></label>
                                <div class="col-md-10">
                                    <input asp-for="Series" class="form-control" />
                                    <span asp-validation-for="Series" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrazoConclusaoIdeal" class="control-label col-md-2" ></label>
                                <div class="col-md-10">
                                    <input asp-for="PrazoConclusaoIdeal" class="form-control" />
                                    <span asp-validation-for="PrazoConclusaoIdeal" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrazoConclusaoMaximo" class="control-label col-md-2" ></label>
                                <div class="col-md-10">
                                    <input asp-for="PrazoConclusaoMaximo" class="form-control" />
                                    <span asp-validation-for="PrazoConclusaoMaximo" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-success">
                                        <span class="glyphicon glyphicon-save" aria-hidden="true"> Salvar
                                    </button>    
                                </div>
                            </div>
                        </div>
                    </form>
                    <div>
                        <a asp-controller="Curriculo" asp-action="Index" asp-route-cursoId="@Model.Curso.Id" >Voltar à lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                
@section Scripts {
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
}

