<div class="container">
    <div [hidden]="submitted">

        <h1>Cidade Form</h1>
        <form *ngIf="active" [ngFormModel]="form" (ngSubmit)="onSubmit()">
            {{diagnostic}}
            <input type="hidden" [(ngModel)]="model.id" 
                    ngControl="id" />
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control"
                    [(ngModel)]="model.nome" 
                    ngControl="nome" />
                <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
                    Nome é obrigatório
                </div>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newCidade()">Nova cidade</button>
        </form>
    </div>
</div>