@import "../global/variables.scss";
@import "../global/mixins.scss";

// Site style

input.ng-invalid.ng-touched
{
    background-color: #fa787e;
}

input.ng-valid.ng-touched
{
    background-color: #78fa89;
}

.dl-horizontal dt
{
    overflow: visible !important;
    white-space: normal !important;
    text-overflow: ellipsis !important;
}

.dl-horizontal dd
{
    border-bottom: 1px solid #eee;
}

hr.light
{
    border-width: 1px 0 0;
}

hr.hard
{
    border-width: 4px 0 0;
}

.campus-sede
{
    background-color: #eee;
}


.spa ul {list-style-type: none; padding: 0; }

//.spa li { cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; }
// .spa li:hover {color: black; background-color: #eceff1; left: .2em;}

//.spa li { height: 1em; line-height: 2em; margin-top: 3px; }

 
.spa .model-navigation {
    cursor: pointer; 
    position: relative; 
    left: 0; 
    transition: all 0.2s ease; 
    height: 3em;
    vertical-align: middle;
}

.spa .model-navigation i {
    vertical-align: middle;
}

.spa .model-navigation .id-description:hover {
    color: $theme-primary; 
}

.spa .model-navigation .home:hover {
    color: $theme-primary; 
}

.spa a { 
    text-decoration: none;  
    position: relative; 
    //left: 0; 
    transition: all 0.2s ease; 
}

.spa a .glyphicon-arrow-right {font-size: 0.7em}
.spa a:visited, a:link {color: black;}
.spa a:hover {color: black; background-color: #eceff1; left: .2em;}
//.spa a.router-link-active {color: white; background-color: #52b9e9; }

/* route-link anchor tags 
.spa a {padding: 5px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
.spa a:visited, a:link {color: #444;}
.spa a:hover {color: white; background-color: #1171a3; }
.spa a.router-link-active {color: white; background-color: #52b9e9; }
*/
//.spa .selected { background-color: #cfd8dc; color: black; }

.spa .model-navigation .id-badge {
    display: inline-block;
    position: relative;
    min-width: 10px;
    font-size: x-small;
    font-weight: bold;
    color: #FFF;
    line-height: 2em;
    vertical-align: middle;
    white-space: nowrap;
    background-color: $theme-primary;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    width: 70px;
 }
