<div class="row">
    <div class="col-lg-12">
        <h1>Lista de unidades universitárias</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sigla</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidadeUniversitaria in unidadesUniversitarias">
                    <td>{{unidadeUniversitaria.Nome}}</td>
                    <td>{{unidadeUniversitaria.Sigla}}</td>
                    <td>
                        <a href="/spa/admin/unidadesuniversitarias/edit/{{unidadeUniversitaria.Id}}" class="btn btn-default btn-xs">Editar</a>
                        <a href="/spa/admin/unidadesuniversitarias/delete/{{unidadeUniversitaria.Id}}" class="btn btn-danger btn-xs">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <p>
            <a href="/spa/admin/unidadesuniversitarias/add" class="btn btn-primary">Nova unidade universitária</a>
        </p>
    </div>
</div>