@model IEnumerable<Singl.Models.Curso>

@{
    ViewBag.Title = "Lista de cursos";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <hr class="hard">
                <ul>
                    <li>
                        <a asp-controller="Curso" asp-action="Index">Voltar à lista</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

