<div class="row">
    <div class="col-lg-12">
        <h2 class="section-heading">Detalhes da disciplina "{{disciplina.Nome}}"</h2>
        <hr class="hard" />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Nome
                </dt>
                <dd>
                    {{disciplina.Nome}}
                </dd>
                <dt>
                    Código
                </dt>
                <dd>
                    {{disciplina.Codigo}}
                </dd>
                <dt>
                    Ano
                </dt>
                <dd>
                    {{disciplina.Ano}}
                </dd>
                <dt>
                    Série
                </dt>
                <dd>
                    {{disciplina.Serie}}
                </dd>
                <dt>
                    Semestre
                </dt>
                <dd>
                    {{disciplina.Semestre}}
                </dd>
                <dt>
                    Optativa
                </dt>
                <dd>
                    <input type="checkbox" checked="{{disciplina.Optativa}}" disabled />
                </dd>
                <dt>
                    Carga horária semanal
                </dt>
                <dd>
                    {{disciplina.CargaHorariaSemanal}}
                </dd>
                <dt>
                    Carga horária total
                </dt>
                <dd>
                    {{disciplina.CargaHorariaTotal}}
                </dd>
                <dt>
                    Ementa
                </dt>
                <dd>
                    {{disciplina.Ementa}}
                </dd>
                <dt>
                    Objetivos
                </dt>
                <dd>
                    {{disciplina.Objetivos}}
                </dd>
            </dl>
            <h3>Acesse a disciplina no AVA</h3>
            <a href="{{disciplina.UrlAva}}" class="btn btn-success">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> AVA</a>                                    
            <hr class="hard" />
            <div>
                <a href="javascript:history.go(-1)">Voltar</a>
            </div>
        </div>
    </div>
</div>